body{
    /* overflow-y: hidden; */
    font-family: 'Montserrat', sans-serif;
    /* background: url("/images/background.png"); */
}

.scroll{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.main{
    width: 100vw !important;
    height: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    scroll-snap-align: start;
    overflow-x: hidden;
}

.p1-bg{
    background-image: url(/images/bg-p1.png);
}

.wrapper{
    width: 100%;
    height: 100%;
}
/* .modal-body div{
    display:block !important;
} */
.section{
    width: 100%;
    height: 100%;
}


.sidebar{
    height: 100vh; 
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#fb{
    width: 42px;
    height: 42px;
}
#linkedin{
    width: 42px;
    height: 42px;
}
#site{
    width: 42px;
    height: 42px;
}
/* Stile descrizione Fucino Conto */
.main-description{
    height: 600px;
}
.main-description h1{
    width: 7000px !important;
    letter-spacing: 0px;
    font-size: 72px;
    word-break:keep-all;
    white-space: normal;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.main-description h4{
    width: 550px;
    font-size: 28px;
    letter-spacing: normal;
    word-break:keep-all;
    white-space: normal;
    color: #ffffff;
}

.main-description li{
    width: 470px;
    font-size: 130%;
    color: #ffffff;
}
.main-description p{
    color: #ffffff;
}

#point-1{
    margin-left: -800px;
}
#point-2{
    margin-left: 250px;
}
#point-3{
    margin-left: 250px;
}
#point-4{
    margin-left: 250px;
}
#point-4-1{
    margin-left: 200px;
}
.a-point{
    margin-top: 18px;
}
.p2-bg{
    background-image: url(/images/bg-p2.png);
}
.p2{
    color: #003366;
}
.buttons{
    width: 100px;
    height: 150px;
}
.p2-fade{
    transition: opacity 333ms ease-in;
}
.p2-fade .fading{
    transform: translateY(50px);
    opacity: 0;
}
.p2-fade .fade-in{
    transform: translateY(0px);
    transition-duration: 1s;
    opacity: 1;
}
.p2-fade .fade-out{
    transform: translateY(-50px);
    transition-duration: 1s;
    opacity: 0;
}

.p2-fade .fading-inv{
    transform: translateY(-50px);
    opacity: 0;
}
.p2-fade .fade-in-inv{
    transform: translateY(0px);
    transition-duration: 1s;
    opacity: 1;
}
.p2-fade .fade-out-inv{
    transform: translateY(50px);
    transition-duration: 1s;
    opacity: 0;
}

.p2-description{
    word-break:keep-all;
    white-space: normal;
    letter-spacing: 1px;
}
.p2-description .titolo{
    font-size: 600%;
}

.p2-btn{
    border: solid 2px #003366;
    background-color: transparent;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color:#003366;
}

#p2-img-div{
    width: 640px;
    height: 400px;
} 
#p2-img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.p2-img-fade-out{
    transition: all 0.5s;
    width: 200px !important;
    height: 200px !important;
    opacity: 0;
}

.p2-img-fade-in{
    transition: all 0.5s;
    width: 400px !important;
    height: 400px !important;
}

/* #img_p2{
    transition: all 1s;
    width: 100px;
    height: 100px;
} */

#p2-partnum{
    width: 35px !important;
    height: 115px !important;
}
#p2-title{
    width: 225px !important;
    height: 115px !important;
}
.p3-bg{
    background-image: url(/images/bg-p1.png);
}
#questions{
    width: 480px !important;
    height: 420px !important;
    border-right: 1px solid #ffffff;
}
#questions a{
    text-decoration: none;
    width: 250px;
}
#answers{
    width: 480px !important;
    height: 420px !important;
}
#answers p{
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
}
.accordion-item{
    background-color: transparent !important;
    border: none;
}
.accordion-item h2 button{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.accordion-item h2 button .accordion-arrow{
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
.accordion-button{
    background-color: transparent !important;
    color: #ffffff !important;
}

#collapseOne::after{
    box-sizing: 0px;
}
#collapseOne::before{
    box-sizing: 0px;
}
.container-titolo{
    color: #ffffff;
}
.container-titolo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.container-titolo h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.acceso{
    color: #ffffff;
    text-decoration: underline !important;
}
.acceso:hover{
    color: #ffffff;
}

.spento{
    color: rgba(255, 255, 255, 0.3);
}

.spento:hover{
    color: #ffffff;
}
#answers{
    color: #ffffff;
}

#answers label{
    font-size: 90%;
}
#answers .form-control{
    border: 1px solid #ffffff;
    border-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

#answers .form-control:hover{
    transition: all 0.2s;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: none;
}

#answers .form-control:focus{
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
}

.form-check-input{
    border: 2px solid #ffffff !important;
    background-color: transparent;
}
.form-check-label{
    text-decoration: underline;
}
.submit{
    background-color: transparent;
    border-radius: 37px;
    height: 48px;
    width: 112px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}


.p4-bg{
    background-image: url(/images/bg-p4.png);
}

.p4{
    color: #003366;
}
.p4-titolo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.riga1 h3{
    font-size: 21px;
}
.riga2 h3{
    font-size: 21px;
}

.wrapper-doc{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
  }
  
  .wrapper-doc .item{
    min-width: 280px;
    height: 100px;
    text-align: center;
  }
  
  .item img{
    height: 64px;
    width: 64px;
  }
  
  .nome-doc{
    text-align: left;
  }
  
  .nome-doc p{
    margin-bottom: 0px;
    font-size: 90%;
    color: #707070;
  }
  .nome-doc a{
    margin-bottom: 0px;
    font-size: 90%;
    color: #003366;
  }


.p5-bg{
    background-image: url(/images/bg-p5.png);
}
.p5 .titolo{
    font-size: 350%;
    color: #00A8ff;
}
.p5 h2{
    font-size: 300%;
    letter-spacing: 2px;
    color: #ffffff;
}
.p5 p{
    font-size: 120%;
    color: #ffffff;
}
/* Pulsante "Scopri gli step */
.scopri-white{
    background-color: transparent;
    border-radius: 37px;
    height: 74px;
    width: 200px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.scopri-blue{
    background-color: transparent;
    border-radius: 37px;
    height: 74px;
    width: 200px;
    border: 2px solid #003366;
    color: #003366;
    font-size: 18px;
    text-align: center;
}
.scopri-sm{
    background-color: transparent;
    border-radius: 30px;
    height: 45px;
    width: 110px;
    color: #003366;
    border: 1px solid #003366;
}
.apri-conto{
    background-color: transparent;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: auto;
}
.apri-conto2{
    background-color: #00A8ff;
    width: 270px;
    height: 55px;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.scorrimento p{
    color: #ffffff;
}
.scorrimento-blue p{
    color: #003366;
}
/* ---------------- MODALE -------------------*/
/* Borders */
.modal-header{
    border-bottom: none;
}
.modal-body{
    padding: 0px;
}

.modal-wrapper{
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .modal-section{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .modal-section .d-flex{
      width: 100%;
      height: 100%;
      background-color: blue;
  }
  .modal-section-sm{
    display: inline-block;
    width: 30%;
    height: 100%;
  }
  .modal-section-sm .contenuto{
      display: flex;
      width: 100%;
      height: 100%;
      background-color: red;
  }

  .modal-body .modal-row{
      width: 700%;
      height: 100%;
  }
  .modal-col{
      height: 100%;
  }
  .col-piccola{
      width: 7.14%;
  }
  .col-grande{
      width: 14.28%;
  }

  #sec-sm-2{
      height: 100%;
      background-color: #602C78;
  }
  #sec-sm-2 .titolo{
      text-align: start;
  }

  #sec-1{
      background-color: #ffffff;
  }
  #sec-2{
      background-color: #003366;
  }
  #sec-3{
      background-color: #ffffff;
  }
  #sec-4{
      background-color: #003366;
  }
  #sec-5{
      background-color: #ffffff;
  }
  #sec-6{
      background-color: #003366;
  }

.modal-container{
    height: 100%;
}
.modal-container h1{
    font-size: 500%;
    letter-spacing: 1px;
} 
.modal-container .titolo{
    width: 500px;
}

.img1{
    width: 800px;
    height: 500px;
}
.img2{
    width: 600px;
    height: 450px;
}
.img3{
    width: 900px;
    height: 500px;
}

.modal-description-blue{
    margin-top: 90px;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff;
    padding: 100px 130px 100px 70px;
    color: #ffffff;
    text-align: start;
}
.modal-description-blue p{
    word-break:keep-all;
    white-space: normal;
}
.modal-description-light{
    margin-top: 90px;
    width: 500px;
    height: 500px;
    border: 1px solid #003366;
    padding: 100px 130px 100px 70px;
    text-align: start;
}
.modal-description-light p{
    word-break:keep-all;
    white-space: normal;
} 

