@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif !important;
    /* background: url("/images/background.png"); */
}

body::-webkit-scrollbar {
    display: none;
  }

/* SMARRTPHONE */
@media (min-width: 576px) { 

 }

/* TABLET */
@media (min-width: 768px) {

 }





ul {
    list-style-image: url('images/tick.svg');
}

.scroll{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.main{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw !important;
    height: 100vh !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    scroll-snap-align: start;
}

.p1-bg{
    background: url(/images/bg-p1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-image: url(/images/bg-p1.png); */
}

.sidebar{
    height: 100vh; 
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

#fb{
    width: 42px;
    height: 42px;
}
#linkedin{
    width: 42px;
    height: 42px;
}
#site{
    width: 42px;
    height: 42px;
}
/* Stile descrizione Fucino Conto */
.main-description{
    height: 600px;
}
.main-description h1{
    width: 700px !important;
    letter-spacing: 0px;
    font-size: 72px;
    word-break:keep-all;
    white-space: normal;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.main-description h4{
    width: 550px;
    font-size: 28px;
    letter-spacing: normal;
    word-break:keep-all;
    white-space: normal;
    color: #ffffff;
}

.main-description li{
    width: 470px;
    font-size: 130%;
    color: #ffffff;
}
.main-description p{
    color: #ffffff;
}

#point-1{
    margin-left: -800px;
}
#point-2{
    margin-left: 250px;
}
#point-3{
    margin-left: 250px;
}
#point-4{
    margin-left: 250px;
}
#point-4-1{
    margin-left: 200px;
}
.a-point{
    margin-top: 22px;
}
.p2-bg{
    background: url(/images/bg-p2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.p2{
    color: #003366;
}
.buttons{
    width: 100px;
    height: 150px;
}
.p2-fade{
    transition: opacity 333ms ease-in;
}
.p2-fade .fading{
    transform: translateY(50px);
    opacity: 0;
}
.p2-fade .fade-in{
    transform: translateY(0px);
    transition-duration: 1s;
    opacity: 1;
}
.p2-fade .fade-out{
    transform: translateY(-50px);
    transition-duration: 1s;
    opacity: 0;
}

.p2-fade .fading-inv{
    transform: translateY(-50px);
    opacity: 0;
}
.p2-fade .fade-in-inv{
    transform: translateY(0px);
    transition-duration: 1s;
    opacity: 1;
}
.p2-fade .fade-out-inv{
    transform: translateY(50px);
    transition-duration: 1s;
    opacity: 0;
}

.p2-description{
    word-break:keep-all;
    white-space: normal;
    letter-spacing: 1px;
}
.p2-description .titolo{
    font-size: 600%;
}

.p2-btn{
    border: solid 2px #003366;
    background-color: transparent;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color:#003366;
}

#p2-img-div{
    width: 640px;
    height: 400px;
} 
#p2-img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.p2-img-fade-out{
    transition: all 0.5s;
    width: 200px !important;
    height: 200px !important;
    opacity: 0;
}

.p2-img-fade-in{
    transition: all 0.5s;
    width: 400px !important;
    height: 400px !important;
}

#p2-partnum{
    width: 35px !important;
    height: 115px !important;
    margin-left: 10px;
}
#p2-title{
    width: 300px !important;
    height: 115px !important;
}
.p3-bg{
    background: url(/images/bg-p1.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#questions{
    width: 480px !important;
    height: 420px !important;
    border-right: 1px solid #ffffff;
}

#questions a{
    display: flex;
    text-decoration: none;
    width: 400px;
}
#answers{
    width: 480px !important;
    height: 420px !important;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.accordion-item{
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0px !important;
}
.accordion-item h2 button{
    display: block;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.accordion-item h2 button .accordion-arrow{
    position: absolute;
    right: 0px;
    top: 40%;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.accordion-button{
    background-color: transparent !important;
    color: #ffffff !important;
}

#collapseOne::after{
    box-sizing: 0px;
}
#collapseOne::before{
    box-sizing: 0px;
}
.container-titolo{
    color: #ffffff;
}
.container-titolo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.container-titolo h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.acceso{
    color: #ffffff;
    text-decoration: underline !important;
}
.acceso:hover{
    color: #ffffff;
}

.spento{
    color: rgba(255, 255, 255, 0.3);
}

.spento:hover{
    color: #ffffff;
}
#answers{
    color: #ffffff;
}

#answers label{
    font-size: 90%;
}
#answers .form-control{
    border: 1px solid #ffffff;
    border-radius: 0px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

#answers .form-control:hover{
    transition: all 0.2s;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: none;
}

#answers .form-control:focus{
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: none;
}
.p3 .col-sm-3{
    margin-top: -95px;
}
.form-check-input{
    border: 2px solid #ffffff !important;
    background-color: transparent;
}
.form-check-label{
    text-decoration: underline;
}
.submit{
    background-color: transparent;
    border-radius: 37px;
    height: 48px;
    width: 112px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}


.p4-bg{
    background: url(/images/bg-p4.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.p4{
    color: #003366;
}
.p4-titolo h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.riga1 h3{
    font-size: 21px;
}
.riga2 h3{
    font-size: 21px;
}

.wrapper-doc{
    max-height: 120px;
    display: flex;
    overflow-x: auto;
  }
  
  .wrapper-doc .item{
    min-width: 280px;
    height: 100px;
    text-align: center;
  }
  
  .item img{
    height: 64px;
    width: 64px;
  }
  
  .nome-doc{
    text-align: left;
  }
  
  .nome-doc p{
    margin-bottom: 0px;
    font-size: 85%;
    color: #707070;
  }
  .nome-doc a{
    margin-bottom: 0px;
    font-size: 90%;
    color: #003366;
  }
.p4-apri{
    margin-bottom: 100px;
}
.p4-titolo{
    margin-top: 290px;
}


.p5-bg{
    background: url(/images/bg-p5.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.p5 .titolo{
    font-size: 350%;
    color: #00A8ff;
}
.p5 h2{
    font-size: 300%;
    letter-spacing: 2px;
    color: #ffffff;
}
.p5 p{
    font-size: 120%;
    color: #ffffff;
}
/* Pulsante "Scopri gli step */
.scopri-white{
    background-color: transparent;
    border-radius: 37px;
    height: 74px;
    width: 200px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.scopri-blue{
    background-color: transparent;
    border-radius: 37px;
    height: 74px;
    width: 200px;
    border: 2px solid #003366;
    color: #003366;
    font-size: 18px;
    text-align: center;
}
.scopri-sm{
    background-color: transparent;
    border-radius: 30px;
    height: 45px;
    width: 110px;
    color: #003366;
    border: 1px solid #003366;
}
.apri-conto{
    background-color: transparent;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: auto;
}
.apri-conto2{
    background-color: #00A8ff;
    width: 270px;
    height: 55px;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    letter-spacing: 1px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.scorrimento p{
    color: #ffffff;
}
.scorrimento-blue p{
    color: #003366;
}
/* ---------------- MODALE -------------------*/
/* Borders */
.modal-header{
    border-bottom: none;
}
.modal-body{
    padding: 0px;
}

.modal-wrapper{
    white-space: nowrap;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .modal-section{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .modal-section .d-flex{
      width: 100%;
      height: 100%;
      background-color: blue;
  }
  .modal-section-sm{
    display: inline-block;
    width: 30%;
    height: 100%;
  }
  .modal-section-sm .contenuto{
      display: flex;
      width: 100%;
      height: 100%;
      background-color: red;
  }

  .modal-body .modal-row{
      width: 700%;
      height: 100%;
  }
  .modal-col{
      height: 100%;
  }
  .col-piccola{
      width: 7.14%;
  }
  .col-grande{
      width: 14.28%;
  }

  #sec-sm-2{
      color: #ffffff;
      height: 100%;
      background-image: url(/images/bg-sec-sm-2.png);
      background-size: contain;
  }
  #sec-sm-2 .titolo{
      text-align: start;
  }

  #sec-1{
      background-color: #ffffff;
  }
  #sec-2{
      background-color: #003366;
  }
  #sec-3{
      background-color: #ffffff;
  }
  #sec-4{
      background-color: #003366;
  }
  #sec-5{
      background-color: #ffffff;
  }
  #sec-6{
      background-color: #003366;
  }

.modal-container{
    height: 100%;
}
.modal-container h1{
    font-size: 500%;
    letter-spacing: 1px;
} 
.modal-container .titolo{
    width: 500px;
}

.img1{
    width: 800px;
    height: 500px;
}
.img2{
    width: 600px;
    height: 450px;
}
.img3{
    width: 900px;
    height: 500px;
}

.modal-description-blue{
    margin-top: 90px;
    width: 500px;
    height: 500px;
    border: 1px solid #ffffff;
    padding: 100px 130px 100px 70px;
    color: #ffffff;
    text-align: start;
}
.modal-description-blue p{
    word-break:keep-all;
    white-space: normal;
}
.modal-description-light{
    margin-top: 90px;
    width: 500px;
    height: 500px;
    border: 1px solid #003366;
    padding: 100px 130px 100px 70px;
    text-align: start;
}
.modal-description-light p{
    word-break:keep-all;
    white-space: normal;
} 





 /* NOTEBOOK */
 @media (max-width: 1440px) { 
    .navbar{
        height: 50px;
    }
    .navbar-brand{
        height: 50px;
        width: 200px; 
    }
    .main-description{
        height: 450px;
    }
    .main-description h1{
        font-size: 48px;
    }
    .main-description h4{
        font-size: 20px;
    }
    .main-description li{
        font-size: 100%;
    }
    .scopri-white{
        height: 65px;
        width: 180px;
    }
    #p1-slider{
        width: 750px;
    }
    .a-point{
        margin-top: 14px;
    }
    #p1-num{
        height: 42px;
        width: 42px;
    }
    #point-1{
        margin-left: -600px;
        height: 42px;
        width: 42px;
    }
    #point-2{
        margin-left: 180px;
        height: 42px;
        width: 42px;
    }
    #point-3{
        margin-left: 180px;
        height: 42px;
        width: 42px;
    }
    #point-4{
        margin-left: 180px;
        height: 42px;
        width: 42px;
    }
    #point-4-1{
        margin-left: 150px;
        height: 42px;
        width: 42px;
    }
    .p2-nav{
        height: 100px;
    }
    .p2-fade{
        margin-top: 50px;
    }
    .p2-scroll{
        height: 220px;
        margin-top: 50px;
    }
    .p2-description{
        margin-left: 200px !important;
    }
    #p2-up img{
        height: 48px;
        width: 48px;
    }
    #p2-down img{
        height: 48px;
        width: 48px;
    }
    #p2-img{
        width: 300px;
        height: 300px;
    }
    .scopri-blue{
        height: 65px;
        width: 180px;
    }
    .p2 .col-sm-4{
        margin-top: -80px !important;
    }
    .container-titolo h1{
        font-size: 48px ;
    }
    .container-titolo h4{
        font-size: 18px;
    }
    .box-faq{
        margin-top: 0px !important;
    }
    #question1 h3{
        font-size: 22px;
    }
    #question1 img{
        height: 38px;
        width: 38px;
    }
    #question2 h3{
        font-size: 22px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    #question2 img{
        height: 38px;
        width: 38px;
    }
    #question3 h3{
        font-size: 22px;
    }
    #question3 img{
        height: 38px;
        width: 38px;
    }
    #questions a{
        width: 290px;
    }
    #accordion1 p{
        font-size: 80%;
    }
    #accordion2 p{
        font-size: 80%;
    }
    #accordion3 p{
        font-size: 80%;
    }
    #accordion4 p{
        font-size: 80%;
    }
    #accordion5 p{
        font-size: 80%;
    }

    .accordion-arrow{
        height: 22px;
        width: 22px;
    }
    .accordion-body{
        font-size: 80%;
    }
   
    #questions{
        width: 480px;
        height: 350px !important;
    }
    #answers{
        width: 480px;
        height: 350px !important;
    }
    .p3 .col-sm-3{
        margin-top: -110px !important;
    }
    .item p{
        font-size: 55%;
    }
    .item a{
        font-size: 70%;
    }
    .item img{
        height: 48px;
        width: 48px;
    }
    .p4-col{
        width: 20%;
    }
    .p4-apri{
        margin-bottom: 130px;
    }
    .p4-titolo{
        margin-top: 280px;
    }
    .riga2{
        margin-top: 2rem;
    }
    
    .modal-description-light{
        margin-top: 60px;
        width: 450px;
        height: 450px;
        border: 1px solid #003366;
        padding: 100px 130px 100px 70px;
        text-align: start;
    }
    .modal-description-blue{
        margin-top: 60px;
        width: 450px;
        height: 450px;
        border: 1px solid #ffffff;
        padding: 100px 130px 100px 70px;
        text-align: start;
    }
    .img1{
        margin-bottom: 30px;
    }
    .img2{
        margin-bottom: 30px;
    }
    .img3{
        margin-bottom: 30px;
    }

    
 }
